@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Home</h2>
            <p>Welcome to the Veterinary Clinic Management System.</p>
        </div>
    </div>
</div>

@code {
}
