<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="VetClinic_Group6Entities"
			 connectionString="metadata=res://*/seng.csdl|res://*/seng.ssdl|res://*/seng.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;
           Data Source=DESKTOP-81H67N5\MSSQLSERVER01;
           Initial Catalog=VetClinic_Group6;
           Integrated Security=True;
           TrustServerCertificate=True&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
