<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">vetWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                Home
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="veterinarians">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span>
                Veterinarians
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointments">
                Appointments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animals">
                Animals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diagnosis">
                Diagnosis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diseases">
                Diseases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoices">
                Invoices
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoiceitems">
                Invoice Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="owners">
                Owners
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="treatments">
                Treatments
            </NavLink>
        </div>



    </nav>
</div>
